<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Hi, Welcome to THE SERVER</h1>
    <p id="DES">
      Here are some of the work ideas <br />
      add /student to url to get all Students
    </p>
  </body>
</html>
